pandas
numpy
spacy
scikit-learn
imbalanced-learn
torch
transformers
fuzzywuzzy
python-Levenshtein
tabulate
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl

python -m spacy download en_core_web_sm
